p {
    font-family: serif;
    line-height: 1.75em;
    font-size: 18px;
    color: #FFB6C1;
}
        
i {
    font-family: sans;
    color: #20B2AA;
}

h2 {
    font-family: sans;
    color: #90EE90;
}